<div class="container" ng-controller="AboutController">
        <div class="row">
            <div class="col-xs-12">
               <ul class="breadcrumb">
                   <li><a href="index.html">Home</a></li>
                   <li class="active">About Us</li>
               </ul>
            </div>
            <div class="col-xs-12">
               <h3>About Us</h3>
               <hr>
            </div>
        </div>
        
        <div class="row row-content">
            <div class="col-xs-12 col-sm-8">
                <h2>Our History</h2>
                <p>Started in June 2009, Maratraders quickly established ourselve as forex premier learning website, with our unique brand of world class security research that can be found nowhere else. As an institution, our goal is to help new and young traders to have a fighting chance in the market by helping them understand how the market works, skills needed and personal traits for successful traders. We have over five years of trading forex, reading charts and risk management.</p>
            </div>
            <div class="col-xs-12 col-sm-4">

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Facts At a Glance</h3>
                    </div>
                    <div class="panel-body">
                        <dl class="dl-horizontal">
                            <dt>Started</dt>
                            <dd>3 Feb. 2010</dd>
                            <dt>Major Stake Holder</dt>
                            <dd>Busa and Tom</dd>
                            <dt>Mission</dt>
                            <dd>Help new traders have a fighting chance in the market and be successful.</dd>
                       </dl>
                    </div>
                </div>
            </div>
        </div>
    <div class="col-xs-12 col-sm-2">
        <p style="padding:20px;"></p>
        <img src="images/morning-evening-star.png" alt="chart">
    </div>