<div class="container" ng-controller="IndexController">
    <div class="row row-content">
            <div class="col-xs-12">
                <p style="padding:16px;"></p>
                <h2 align="left">Our Advanced Forex Training Course</h2>
                    <p>Are three things you need to master as a forex trader: control your mind or emotions, risk management and trading strategy in order to be successful. Without mastering all three, the other two won't matter to much. 
                    All are inter-connected and depend on each other. If your risk management is off, it will negatively impact your trading mindset which will in turn cause you to deviate from your trading strategy and over trade the market. 
                    If your mind set is off, you will not have the focus or discipline to stick to proper risk management and risk control which will result in taking too much risk leading to big losses and eventually blowing out your trading account. If you have not mastered a trading strategy, and learn to wait patiently for the most obvious/confluent setups like the examples discussed in the course, it won't matter much if your mind and risk management is right, because you will be wasting them on low probability trades.</p>
            </div>
            <div class="row row-content">
              <div class="col-xs-12">
               <div class="media-left media-middle">
                   <p style="padding:16px;"></p>
                   <h2 align="left"> Risk Disclaimer</h2>
                   <p>Maratraders offers no financial advise. Everything
                    in this ebook is purely for Educational purposes
                    only. Trading foreign exchange on margin carries a high level of risk, and may not be suitable for all investors. The high degree of leverage can work against you as well as for you. Before deciding to invest in foreign exchange you should carefully consider your investment objectives, level of experience, and risk appetite. The possibility exists that you could sustain a loss of some or all of your initial investment and therefore you should not invest money that you cannot afford to lose. You should be aware of all the risks associated with foreign exchange trading, and seek
                    advice from an independent financial advisor if you have any doubts.</p>
               </div>
             </div>
            </div>
        </div>
    <div class="col-xs-12 col-sm-2">
        <p style="padding:20px;"></p>
        <img src="images/chart2.png" alt="chart">
    </div>
        
            